.button {
    
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(#74a7f7, #5e91e0);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-size: 1.1em;
}

.button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #4066a3 0%, #2a4d85 100%),
        #2a4d85,
        #5e91e0;
}

.button:pressed {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #74a7f7;
    -fx-font-weight: bold;

}

.list-cell:even {
    -fx-background-color: #e3ecfa;
}

.list-cell:filled:hover {
    -fx-background-color: #faf191;

}